.card {
    display: flex;
    background-color: aqua;
    width: 180px;
    height: 200px;
    border: 2px solid;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 25px;
} 

.card img {
    max-height: 90%;
    max-width: 90%;
}

.Cards {
    display: flex;
    flex-wrap: wrap;
}